*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  width: 100%;
}

h3{
  font-family: 'Poppins', sans-serif;
}

.outlet{
  min-height: calc(100vh - 170px );
}